:root {
  box-sizing: border-box;
  font-size: 16px;
  --color-text-blue: #202242;
  --color-text-yellow:  #ffe13e;
}
*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1;
}
body {
  font-family: 'Raleway', sans-serif;
  color: var(--color-text-blue);
}
.header-nav{
  padding-left: 115px;
  height: 147px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.logo{
  display: flex;
  align-items: flex-end;
}
.logo__text{
  padding-left: 18px;
  font-family: 'Rockwell',sans-serif;
  font-weight: 400;
  color: var(--color-text-blue);
  padding-bottom: 4px;
  font-size: 20px;
  padding-right: 103px;
}
.logo__text-fatty{
  font-weight: 700;
}
.nav{
  padding-right: 50px;
  display: flex;
  list-style-type: none;
}
.nav__item {
  margin-left: 40px;
}
.nav__link {
  color: var(--color-text-blue);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.nav__link:hover {
  color: var(--color-text-yellow);
  font-weight: bold;
}
.header-line{
  background: #ebebeb;
  width: 1px;
  height: 147px;
}
.chat{
  padding-left: 50px;
}
.chat__nav{
  display: flex;
  align-items: center;
}
.chat__text{
  padding-bottom: 25px;
  font-weight: 600;
  font-size: 0.75rem;
}
.chat__btn{
  font-weight: bold;
  text-decoration: none;
  background: var(--color-text-yellow);
  height: 40px;
  width: 122px;
  padding-top: 13px;
}
.chat-line{
  background: #babbc4;
  width: 1px;
  height: 34px;
  margin-left: 22px;
  margin-right: 19px;
}
.chat__btn-text{
  margin-left: 29px;
  font-weight: 600;
  font-size: 0.875rem;
}
.chat-number{
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.header-intro {
  background-image: url("../img/background-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 940px;
}
.header-intro-mask {
  background-color: rgba(0, 0, 0, 0.33);
  height: 940px;
}
.wrap{
  text-align: center;
  padding-bottom: 60px;
}
.header-intro__title{
  font-family: 'Rockwell',sans-serif;
  padding-top: 234px;
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
}
.header-intro__desc{
  color: #fff;
  font-size: 1.875rem;
}
.header-intro-shape{
  padding-top: 60px;
}
.header-intro__form{
  height: 90px;
  width: 572px;
  background-color: rgba(255, 255, 255, 0.50);
  margin: 0 auto;
}
.header-intro-input{
  display: flex;
  padding-top: 18px;
  padding-left: 18px;
}
.input-width{
  width: 274px;
  border-style: none;
  text-align: center;
}
.header-intro-com{
  padding-left: 19px;
  text-decoration: none;
  background: var(--color-text-yellow);
  height: 54px;
  width: 108px;
  padding-top: 15px;
  font-weight: 700;
  font-size: 1.125rem;
  color: #2d2d2d;
  display: flex;
  text-align: center;
}
.fa-chevron-down{
  margin-left: 18px;
  color: #fff;
}
.header-intro-line{
  background: #fff;
  width: 1px;
}
.header-intro-check{
  text-decoration: none;
  background: var(--color-text-yellow);
  width: 154px;
  padding-top: 17px;
  font-weight: 700;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
}
.service{
  display: flex;
  color: #fff;
  text-align: center;
}
.feature{
  height: 680px;
}
.feature__img{
  padding-top: 115px;
}
.feature-blue{
  background-color: var(--color-text-blue);
  flex-basis: 50%;
}
.feature-yellow{
  background-color: var(--color-text-yellow);
  flex-basis: 50%;
}
.feature__title{
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 2.25rem;
}
.title-blue{
  padding-top: 55px;
}
.title-yellow{
  padding-top: 75px;
}
.feature__desc{
  font-size: 0.875rem;
  line-height: 1.7;
  padding-bottom: 40px;
}
.feature__btn{
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #fff;
  background: var(--color-text-green);
  color: #fff;
  height: 56px;
  width: 156px;
  padding-top: 18px;
}
.feature__img-text{
  padding-top: 133px;
  font-weight: 700;
  color: var(--color-text-blue);
  font-size: 8.36rem;
}
.features-info
{
  height: 700px;
}
.features-info__color{
  background-color: #fbf8f1;
  padding-top: 85px;
  height: 700px;
}
.features-info__img {
  background:  url(../img/img-features-info.svg) no-repeat center top;
  position: relative; 
  margin: 0 auto;
}
.features-info__title{
  font-weight: 700;
  font-size: 3rem;
  padding-top: 10px;
  text-align: center;
}
.features-info__desc{
  font-size: 1.5rem;
  padding-top: 20px;
  text-align: center;
}

.features-info__column{
  position: absolute;
  display: flex;
  padding-top: 90px;
  text-align: center;
  padding-left: 130px;
  padding-right: 130px;
}
.feature-info__item + .feature-info__item{
  padding-left: 40px;
}
.features-info__column-title{
  font-family: 'Rockwell',sans-serif;
  font-size: 1.775rem;
  color: var(--color-text-yellow);
  padding-top: 31px;
}
.feature-info__column-desc{
  line-height: 1.7;
  font-size: 0.875rem;
  padding-top: 26px;
}
.feature-info__icon{
  padding-bottom: 34px;
}
.features-info__column-line{
  background: #8d8d99;
  width: 69px;
  height: 3px;
  margin: 0 auto;
}
.client{
  height: 588px;
  padding-left: 113px;
  padding-top: 89px;
}
.client__column + .client__column
{
  padding-left: 27px;
}
.client__item{
  display: flex;
}
.client__column-tittle{
  font-weight: 700;
  font-size: 2.25rem;
}
.clint_column-desc{
  color: #adadad;
  padding-top: 28px;
  padding-bottom: 93px;
}
.client__column-botton-part{
  height: 179px;
  width: 370px;
  background-color: #faf9f9;
  position: relative;
}
.client__column-text::before{
  content: "“ ";
}
.client__column-text::after{
  content: " ”";
}
.client__column-name
{
  padding-left: 22px;
  font-weight: 700;
  color: #696969;
}
.client__column-text{
  font-family: 'Rockwell',sans-serif;
  font-style: italic;
  padding-top: 30px;
  padding-left: 22px;
  padding-bottom: 28px;
  color: #a4a4a4;
  font-size: 00.875rem;
}
.client__anna{
  position: absolute;
  margin-left: 177px;
}
.client_icon{
  display: flex;
  gap: 28px;
  padding-bottom: 89px;
}
.plans{
  height: 270px;
  background-color: var(--color-text-blue);
  display: flex;
  align-items: center;
}
.plans-text{
  padding-left: 208px;
  padding-right: 114px;
  height: 87px;
}
.plans__title{
  font-size: 2.25rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}
.plans__desc{
  font-size: 1.12rem;
  color: #67687b
}
.plans__btn{
  font-weight: 700;
  text-align: center;
  padding-top: 32px;
  border: 4px solid #fff;
  background: var(--color-text-yellow);
  height: 87px;
  width: 234px;
  font-size: 1.125rem;
}
.plans__btn-link{
  text-decoration: none;
  color: var(--color-text-blue);
}
.map__color{
  padding-top: 95px;
  height: 656px;
  background-color: #363855;
  padding-left: 115px;
}
.map{
  height: 561px;
}
.map__text{
  padding-right: 60px;
  display: block;
  float: right;
}
.map__img{
  background:  url(../img/map.png) no-repeat;
}
.map__title{
  padding-top: 51px;
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  padding-bottom: 36px;
}
.map__nav{
  list-style-type: none;
}
.map-nav__item {
  width: 100px;
  margin-left: 40px;
  margin: 0 auto;
  text-align: right;
}
.map-nav__line{
  background: #565870;
  width: 65px;
  height: 1px;
  margin-top: 11px;
  margin-bottom: 13px;
  float: right;
}
.fa-map-marker-alt{
  color: var(--color-text-yellow);
  font-size: 45px;
}
.map-nav__link {
  color: #fff;
  text-decoration: none;
}
.map__marker{
  width: 250px;
  position: relative;
  top: 235px;
  left: 618px;
  display: flex;
  gap: 19px;
}
.map__marker-text{
  color: #fff;
  font-size: 1.125rem;
}
.map-icon{
  padding-top: 44px;
  padding-bottom: 67px;
}
.map__top-link{
  color: #fff;
  font-size: 0.75rem;
  text-decoration: none;
}
.copyright{
  padding-top: 400px;
  margin: 0 auto;
  width: 277px;
}
.copyright__text{
  font-size: 0.875rem;
  color: #fff;
  padding-top: 18px;
}
.copyright__icon{
  text-align: center;
}
.fab{
  color: var(--color-text-yellow);
  width: 16px;
  padding-top: 45px;
  padding-bottom: 68px;
  margin-left: 14px;
}

